project_id = "gia-local"

[api]
port = 54321
extra_search_path = ["public", "extensions"]

[db]
port = 54322

[studio]
port = 54323

[inbucket]
port = 54324

[storage]
enabled = true

[auth]
site_url = "http://localhost:3000"
additional_redirect_urls = ["http://localhost:3000/**"]
jwt_expiry = 3600

[auth.email]
enable_signup = true
enable_confirmations = true

[auth.external.google]
enabled = false
client_id = ""
secret = ""
